flows (1).json
[{"id":"42f2b436.69b84c","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"59e3048e.172d6c","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"6ce01046.0d936","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"1e370ec6.2d0771","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a358405c.dc2c2","type":"ui_tab","z":"42f2b436.69b84c","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"55ef7edb.07d5e","type":"ui_group","z":"42f2b436.69b84c","name":"New","tab":"cef56b3e.c4cfb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6d08d30.95ac5","type":"ui_tab","z":"","name":"TABNAME","icon":"dashboard","disabled":false,"hidden":false},{"id":"3cbc35c7.5179ea","type":"ui_group","z":"","name":"Chatbot","tab":"9030676d.6029c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"79a34df0.b9b224","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6c007cb8.bf0194","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"pd7gsx.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"51e0ca69.5ff304","type":"ui_group","z":"","name":"Chatbot","tab":"d6d08d30.95ac5","order":1,"disp":true,"width":"6","collapse":false},{"id":"9030676d.6029c8","type":"ui_tab","z":"","name":"shop","icon":"dashboard","disabled":false,"hidden":false},{"id":"50929fde.7b814","type":"ui_group","z":"","name":"Chatbot","tab":"d6d08d30.95ac5","order":2,"disp":true,"width":"6","collapse":false},{"id":"f1addc36.301b","type":"ui_group","z":"","name":"","tab":"d6d08d30.95ac5","order":3,"disp":true,"width":"6","collapse":false},{"id":"f2c28b37.d79e78","type":"ui_group","z":"","name":"GROUPNAME","tab":"d6d08d30.95ac5","order":4,"disp":true,"width":"6","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"42f2b436.69b84c","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"42f2b436.69b84c","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"52463c.95ede9c4","type":"debug","z":"59e3048e.172d6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":520,"wires":[]},{"id":"3ad85afe.a5cce6","type":"function","z":"59e3048e.172d6c","name":"pre-token","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"w8SQAu0fXUysotHxu9msMmNS6OEilYIVXAaeEL-DE-cC\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":380,"wires":[["b724db1b.a69048"]]},{"id":"b724db1b.a69048","type":"http request","z":"59e3048e.172d6c","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":512.0000038146973,"y":424.00000286102295,"wires":[["1e015928.dd3ac7","1435537b.0cd64d"]]},{"id":"1e015928.dd3ac7","type":"debug","z":"59e3048e.172d6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"1435537b.0cd64d","type":"function","z":"59e3048e.172d6c","name":"Pre Prediction","func":"var ye = global.get(\"ye\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"YearExperience\"]],\"values\": [[ye]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":704.0000076293945,"y":376.0000021457672,"wires":[["26662e59.7ddc02"]]},{"id":"26662e59.7ddc02","type":"http request","z":"59e3048e.172d6c","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0dbce409-2d08-4b62-903f-3d0d0a79c746/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":400,"wires":[["e79a05ab.ab2948","e0493a2f.1cade8"]]},{"id":"e79a05ab.ab2948","type":"debug","z":"59e3048e.172d6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1082.9999914169312,"y":484.00000381469727,"wires":[]},{"id":"c628860f.e371e8","type":"inject","z":"59e3048e.172d6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":220,"y":280,"wires":[["3ad85afe.a5cce6"]]},{"id":"311fbc22.293f14","type":"debug","z":"59e3048e.172d6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":913.9999885559082,"y":267.0000057220459,"wires":[]},{"id":"e0493a2f.1cade8","type":"function","z":"59e3048e.172d6c","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":759.6000595092773,"y":308.00000190734863,"wires":[["311fbc22.293f14"]]},{"id":"447a6c71.4f6104","type":"ui_form","z":"59e3048e.172d6c","name":"","label":"","group":"3cbc35c7.5179ea","order":1,"width":0,"height":0,"options":[{"label":"YearsExperience","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":440,"wires":[["52463c.95ede9c4","3ad85afe.a5cce6"]]},{"id":"50237173.eb4af","type":"ui_form","z":"6ce01046.0d936","name":"","label":"","group":"50929fde.7b814","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["26f059e1.390686"]]},{"id":"26f059e1.390686","type":"function","z":"6ce01046.0d936","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":240,"wires":[["4df1d3e1.32f34c","dfea3866.dea158"]]},{"id":"b550ba5e.7dd588","type":"function","z":"6ce01046.0d936","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["e97aec97.e82d8"]]},{"id":"ef63ba11.d30878","type":"debug","z":"6ce01046.0d936","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"4df1d3e1.32f34c","type":"ui_text","z":"6ce01046.0d936","group":"50929fde.7b814","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":370,"y":360,"wires":[]},{"id":"e97aec97.e82d8","type":"ui_text","z":"6ce01046.0d936","group":"50929fde.7b814","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":710,"y":360,"wires":[]},{"id":"dfea3866.dea158","type":"watson-conversation-v1","z":"6ce01046.0d936","name":"","workspaceid":"279cdbc5-9951-44da-a29d-a74bc7a143fc","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/303698b8-f8ef-4cdb-9795-d26bc8165017","timeout":"","optout-learning":false,"x":370,"y":140,"wires":[["ef63ba11.d30878","b550ba5e.7dd588"]]},{"id":"1172bfbc.63144","type":"http in","z":"1e370ec6.2d0771","name":"","url":"/getname","method":"get","upload":false,"swaggerDoc":"","x":220,"y":220,"wires":[["de2c770.9cc9188"]]},{"id":"de2c770.9cc9188","type":"template","z":"1e370ec6.2d0771","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"419e92de-7c40-4927-9c66-ae7251152a99\", // The ID of this integration.\n      region: \"eu-gb\", // The region your integration is hosted in.\n      serviceInstanceID: \"303698b8-f8ef-4cdb-9795-d26bc8165017\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>\n","output":"str","x":430,"y":320,"wires":[["ef625fe7.f4f09"]]},{"id":"ef625fe7.f4f09","type":"http response","z":"1e370ec6.2d0771","name":"","statusCode":"","headers":{},"x":670,"y":220,"wires":[]}]